header {
    display: flex;
    align-items: center;
    background-color: rgb(37, 37, 37);
    height: 90px;
    color: whitesmoke;
    width: 100%;
}


.left-header{
    flex:1;
    width: 50%;
}

.right-header{
    flex: 1;
    width: 50%;
}

.logo {
    font-size: 20px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

li {
    display: flex;
    justify-content: flex-start;
}

.topImage {
    background-repeat: no-repeat;
    width: 100%;

}

footer {
    height: 90px;
    background-color: rgb(37, 37, 37);
    display: flex;
    align-items: center;
    width: 100%;

}


footer h4 {
    text-align: center;
    display: none;
}

.left-footer{
    flex:1;
    width: 50%;
    color: white;
}
 main {
    line-height: 0px;

}

.copyright {
        color:white;
        margin:0;

    }


body {
    margin: 0;
}