html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    background-color: rgb(37, 37, 37);
    height: 10vh;
    color: whitesmoke;
    width: 100%;
}


.left-header {
    flex: 1;
    width: 50%;
}


.right-header {
    flex: 1;
    width: 50%;
    height: 100%;
}


.logo {
    font-size: 20px;
    font-family: Verdana;
    font-weight: bold;
}

<<<<<<< HEAD @media (max-width :1000px) {
    .logo {
        font-size: 30px;
    }
}

=======>>>>>>>ff5ee633896800da3c4cd24af8ca5f944d2864bd ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    height: 100%;

}

.width {
<<<<<<< HEAD
    display: flex;
=======
    display: none;
    
    ;
>>>>>>> 8bff11b10decde98be00439ad612ef61a1f897d8
}

@media (max-width: 600px) {
    .logo {
        padding-left: 5px;
        font-size: 20px;
    }

    ul {
        display: none;
    }


}

li {
    justify-content: flex-start;
    list-style: none;

}

a {
    color: #fff;
    text-decoration: none;
    height: 100%;
    display: grid;
    align-items: center;
}

a:hover {
    opacity: 0.7;
    transition-duration: 0.15s;
}

.top {
    border-bottom: 3px solid white;
    padding-bottom: 5px;
}

.topImage {
    background-repeat: no-repeat;
    width: 100%;

}

footer {
    height: 10%;
    background-color: rgb(37, 37, 37);
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;

}


footer h4 {
    text-align: center;
    display: none;
}

.left-footer {
    flex: 1;
    width: 50vh;
    height: 100%;
    color: white;
    display: none;
}

.right-footer {
    flex: 1;
    width: 50%;
    color: white;
    text-align: right;
    display: inline-block;
    padding: ;
}

.japanese {
    border-bottom: 3px solid white;
}

main {
    line-height: 0px;
    height: 80%;
    background-image: url(image/G75_0960.jpg);
    background-size: cover;

}

img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.copyright {
    color: white;
    margin: 0;
    padding-right: 10px
}


.menu-icon {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    left: 85%;
    top: 3%;
}

.bar {
    color: rgb(41, 41, 41);

}

nav {
    height: 100%;
    width: 100%;
    display: flex;
}

.hamburger__nav__links {
    display: none;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(59, 56, 56);
    height: 30%;
    opacity: 0.8;


}

.hamburger__top {
    background-color: rgb(91, 91, 91);
}

.hamburger__nav__links li {
    border-bottom: 1px solid rgb(117, 117, 117);
    height: 20%;

}

.hamburger__nav__links li a:active {
    background-color: rgb(115, 115, 115);
    animation-duration: 0.1s;
}


.nav__links {
    display: none;
    justify-content: space-around;
}

@media (min-width:980px) {
    .menu-icon {
        display: none;
    }

    .hamburger__nav__links {
        display: none;
    }

    .logo {
        font-size: font-size: 30px;
        ;
    }

<<<<<<< HEAD
    .nav__links {
        display: flex;
        width: 100%;
    }
=======
.nav__links{
    display:flex;
}
.left-footer {
    display: flex;
}
>>>>>>> 8bff11b10decde98be00439ad612ef61a1f897d8

.left-footer ul {
    width: 100%;
}
<<<<<<< HEAD
=======
}


>>>>>>> 8bff11b10decde98be00439ad612ef61a1f897d8

.bar {
    width: 100%;
    height: 3px;
    background-color: rgb(225, 225, 225);
    margin: 4px 0;
    transition: transform 0.2s ease-in-out;
}

.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(4px, 3px);
}

.active .bar:nth-child(2) {
    opacity: 0;
}

.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -10px);
}

.show {
    display: block;
    position: absolute;
    left: 80%;

}