.menu-icon {
    display: inline-block;
    cursor: pointer;
  }
  
  .menu-icon span {
    display: block;
    height: 2px;
    width: 30px;
    margin-bottom: 5px;
    background: #333;
    transition: all 0.5s ease;
  }

  .menu-icon.cross {
    transition: all 0.5s ease;
  }

  .menu-icon.cross :nth-child(1){
    transform: rotate(45deg) translate(0px,13px);
    transition: all 0.5s ease;
    
  }

  .menu-icon.cross :nth-child(2){
    opacity: 0;
    transition: all 0.5s ease;
  }
  
  .menu-icon.cross :nth-child(3){
    transform: rotate(-45deg) translate(-5px,-10px);
    transition: all 0.5s ease;
  }

  /* ハンバーガーメニューのコンテンツ */
  .menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
    background: #f9f9f9;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: all 1s ease;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li a {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    color: #333;
    text-decoration: none;
  }
  
  .menu li:last-child a {
    border-bottom: none;
  }

  header{
    height: 50px;
  }